# Practice Problems: Python Sequences and Collections

## Lists

1. Create a list of five numbers and print the second element.

In [4]:
# Your answer here
a = [1, 2, 3, 4, 5]
print(a[::2])

[1, 3, 5]

1. Create a list of five numbers and print the 2nd to 4th elements with slicing.

In [ ]:
# Your answer here

1. Create a list of five numbers and print the 3rd to last elements with slicing.

In [ ]:
# Your answer here

1. Create a list of five numbers and print the 2nd to last and last elements.

In [ ]:
# Your answer here

1. Replace the last item in a list with 100.

In [ ]:
# Your answer here

1. Remove the first element from a list with pop.

In [ ]:
# Your answer here

1. Use a for loop to print each item in a list, one per line.

In [ ]:
# Your answer here

1. Use the sort method to put a list in descending order.

In [ ]:
# Your answer here

1. Use the count method to find how many times the value 3 appears in a list.

In [ ]:
# Your answer here

1. Use slicing to print every other element in a list.

In [ ]:
# Your answer here

1. Concatenate two lists with + and print the result.

In [ ]:
# Your answer here

1. Check if the value 10 is in a list and print a message if it is.

In [ ]:
# Your answer here

## Numpy Arrays

1. Create a numpy array of numbers from 1 to 5 and print it.

In [ ]:
# Your answer here

1. Add 10 to every element in a numpy array.

In [ ]:
# Your answer here

1. Multiply every element in a numpy array by 2.

In [ ]:
# Your answer here

1. Calculate the mean and standard deviation of a numpy array.

In [ ]:
# Your answer here

1. Use boolean indexing to select all even numbers in a numpy array. Hint: use `% 2` to find the mod (remainder).

In [ ]:
# Your answer here

1. Sum all elements in a numpy array.

In [ ]:
# Your answer here

1. Find the maximum value in a numpy array.

In [ ]:
# Your answer here

## Dictionaries

1. Create a dictionary mapping three names to ages. Print the age for one name.

In [ ]:
# Your answer here

1. Add a new key-value pair to a dictionary.

In [ ]:
# Your answer here

1. Update the value for an existing key in a dictionary.

In [ ]:
# Your answer here

1. Remove a key from a dictionary with pop and print the result.

In [ ]:
# Your answer here

1. Use a for loop to print all keys in a dictionary.

In [ ]:
# Your answer here

1. Use a for loop to print all values in a dictionary. Hint: use `d.values()`.

In [ ]:
# Your answer here

1. Check if a key exists in a dictionary using `in`.

In [ ]:
# Your answer here

1. Get a value from a dictionary with a default if the key is missing.

In [ ]:
# Your answer here

1. Print all key-value pairs in a dictionary using items().

In [ ]:
# Your answer here

## Tuples

1. Create a tuple of three strings and print the first one.

In [ ]:
# Your answer here

1. Try to change an element in a tuple (what happens?).

In [ ]:
# Your answer here

1. Use tuple unpacking to assign three values to three variables.

In [ ]:
# Your answer here

1. Check if a value exists in a tuple using `in`.

In [ ]:
# Your answer here

1. Concatenate two tuples and print the result.

In [ ]:
# Your answer here

1. Iterate over a tuple and print each value. Hint: use a for loop and `in`.

In [ ]:
# Your answer here

## Sets

1. Create a set from a list with duplicate values and print the set.

In [ ]:
# Your answer here

1. Add a new value to a set using the `add` method.

In [ ]:
# Your answer here

1. Remove a value from a set using the `remove` method.

In [ ]:
# Your answer here

1. Find the union of two sets with the `|` operator.

In [ ]:
# Your answer here

1. Find the intersection of two sets with the `&` operator.

In [ ]:
# Your answer here

1. Find the difference between two sets with the `-` operator.

In [ ]:
# Your answer here

1. Check if a value is in a set using the `in` keyword.

In [ ]:
# Your answer here

1. Use a set to remove duplicates from a list.

In [ ]:
# Your answer here

1. Iterate over a set and print each value. Hint: use a for loop and `in`.

In [ ]:
# Your answer here

## General

1. Explain when you would use a numpy array instead of a list.

In [ ]:
# Your answer here

1. Compare the performance of summing a large list vs. a numpy array (use %timeit in Jupyter).

In [6]:
# Your answer here
import numpy as np
large_list = list(range(1000000))

%timeit sum(large_list)
%timeit np.array(large_list).sum()

2.16 ms ± 17.1 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)
18.6 ms ± 180 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

1. Explain the difference between mutable and immutable types in Python.

In [ ]:
# Your answer here