# Pandas Practice Problems

Each section contains a problem. Write your code in the cell below each prompt.

## Load a CSV file named 'students.csv' into a DataFrame called `students`.

In [ ]:
# Your code here

## Load a CSV file without headers and assign column names 'A', 'B', 'C'.

In [ ]:
# Your code here

## Create a Series from the list [10, 20, 30].

In [ ]:
# Your code here

## Create a Series with custom indices 'x', 'y', 'z'. Use the index parameter.

In [ ]:
# Your code here

## Create a DataFrame from a dictionary with columns 'Name' and 'Score'.

In [ ]:
# Your code here

## Create a DataFrame from a list of lists: [[1, 2], [3, 4]] with columns 'A' and 'B'.

In [ ]:
# Your code here

## Given a DataFrame df, print the 'Score' column.

In [ ]:
# Your code here

## Access the 'Name' column and convert it to a list using tolist().

In [ ]:
# Your code here

## Set the 'Name' column as the index of df.

In [ ]:
# Your code here

## Access the row for 'Alice' using .loc.

In [ ]:
# Your code here

## Access the first row using .iloc.

In [ ]:
# Your code here

## Select rows where 'Score' is greater than 80.

In [ ]:
# Your code here

## Select rows where 'Score' is less than or equal to 85.

In [ ]:
# Your code here

## Sort df by 'Score' in descending order.

In [ ]:
# Your code here

## Sort by 'Name' alphabetically.

In [ ]:
# Your code here

## Merge two DataFrames df1 and df2 on the column 'ID'.

In [ ]:
# Your code here

## Perform a left join of df1 and df2 on 'ID'.

In [ ]:
# Your code here

## Add a new column 'Passed' to df where 'Score' >= 60 is True, else False.

In [ ]:
# Your code here

## Remove the 'Passed' column from df.

In [ ]:
# Your code here

## Increase all 'Score' values by 5.

In [ ]:
# Your code here